@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,700;1,800&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #7f8cff;
  --secondery-color: #172b4d;
}

body {
  font-family: "poppins", sans-serif;
  background-color: #f3f3f3;
}

.back {
  position: absolute;
  width: 100%;
  height: 750px;
  background-color: #ffff;
  z-index: -11;
  border-radius: 0 0 0 100px;
  background-image: url("../assest/back.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  max-width: 85%;
  margin: 0 auto;
  padding: 15px 0;
}

#header .container {
  max-width: 90%;
  margin: 0 auto;
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
}

#nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Logo a {
  font-size: 24px;
  color: #6070ff;
  font-family: "poppins", sans-serif;
  font-weight: bold;
  letter-spacing: 1.2px;
  text-decoration: none;
}

.nav-content .items {
  display: none;
  width: 300px;
  justify-content: space-between;
}

.items .item {
  list-style: none;
}

.item .link {
  text-decoration: none;
  color: var(--primary-color);
  font-weight: 500;
  font-size: 20px;
  font-family: "poppins", sans-serif;
}

.menu {
  display: block;
}

/* Hero section */

#main {
  display: flex;
  align-items: center;
  height: 600px;
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 470px;
}

.main-content .title {
  max-width: 319px;
  font-size: 43px;
  font-weight: 700;
  color: var(--secondery-color);
}

.main-content .description {
  font-size: 16px;
  color: #344563;
  max-width: 326px;
  font-weight: 500;
  line-height: 24px;
  font-style: normal;
}

.main-content .titre {
  color: #7f8cff;
}

.network {
  display: flex;
  justify-content: space-between;
  width: 177px;
}

/* End of Hero section */

@media only screen and (min-width: 600px) {
  .menu {
    display: none;
    width: 30px;
  }

  .nav-content .items {
    display: flex;
  }
}
